<script>
	var openWeatherMap = 'http://api.openweathermap.org/data/2.5/weather'
	$.getJSON('https://ipapi.co/json/').done(function(location) {
		// console.log(location);
	    $.getJSON(openWeatherMap, {
	        lat: location.latitude,
	        lon: location.longitude,
	        units: 'metric',
	        APPID: '<%= ENV["WX_KEY"] %>'
	    }).done(function(weather) {
	        // console.log(weather)
	        $('#weather-show1').html('<br><h4">Weather: '+ weather.weather["0"].description + '</h4></br>');
	        $('#weather-show2').html('<h4">Humidity: '+ weather.main.humidity + '%</h4></br>');
	        $('#weather-show3').html('<h4">Temperature: '+ weather.main.temp_min + '</h4></br>');
	        $('#weather-show4').html('<h4">Wind Speed: '+ weather.wind.speed + '</h4></br>');
	    })
	})

</script>

<body id="home-background">
<div id="weather-info">
		<p>Your Current Location Weather</p>
		<p id="weather-show1"></p>
		<p id="weather-show2"></p>
		<p id="weather-show3"></p>
		<p id="weather-show4"></p>
</div>	
<div id="home-title">
	<h1>Auctiony</h1>
</div>
</body>
