<script>
    var map, infoWindow;
    $.getJSON('https://ipapi.co/json/').done(function(location) {
          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: location.latitude, lng: location.longitude},
          zoom: 15
        });
        infoWindow = new google.maps.InfoWindow;
        var pos = {
            lat: location.latitude,
            lng: location.longitude,
          };
        
        infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          infoWindow.open(map);
          map.setCenter(pos);
    })
  
  
</script>
<script async defer src= https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP"]%>>
</script>
<body id="home-background">
  <div id="map-wrapper">
    <div id="map"></div>
    <div id="map-detail">
      <p>Your Item Will Send to here</p>
      <p>if not correct, please key in your address down here</p>
        <%= render partial: '/home/form' %>
    </div>
 </div>

</body>
