// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*//Google Map//*/

#map-wrapper{
	display: flex;
	flex-direction: row;
	text-align: center;
}
#map {
    height: 500px;
    width: 500px;
    margin-top: 7%;
    margin-left: 7%;
}
#map-detail{
	margin-top: 10%;
	width: 50%;
}